<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occurred!</h1>
    <p><%=message%></p>
    <p>We're working on it , please Excuse us!</p>

<%- include('includes/end.ejs') %>